
.main_content2 {
    display: flex;
    position: fixed;
    bottom: 5%;
    left: 0;
    height: 85%;
    width: 100%;
    /* background-color: rgb(185, 148, 3); */
    padding: 1%;
    justify-content: center;
    gap: 10%;
}

.left_content {
    /* background-color: rgb(233, 82, 22); */
    width: 40%;
    display: flex;
}

.right_content {
    /* background-color: rgb(19, 124, 82); */
    width: 40%;
}

.deal_box {
    /* background-color: rgb(25, 75, 133); */
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 2%;
}

.deal_title {
    /* background-color: rgb(229, 146, 38); */
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 140%;
}

.deal_timer {
    /* background-color: brown; */
    height: 5%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 1%;
    font-size: 80%;
}

.deal_images {
    /* background-color: rgb(255, 255, 255); */
    width: 100%;
    height: 85%;
    display: flex;
    flex-wrap: wrap;
    gap: 10%;
    padding: 2%;
    border-radius: 15px;
}

.deal_images img {
    width: 45%;
    height: auto;
}
