/*modifications to index.html*/

.image_cont {
    display: flex;
    justify-content: center; 
    align-items: center; 
    padding-top: 10%;
    
}

.main-img {
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: auto; 
}

/*style = "width: 600px; height: auto; border-radius: 10px; justify-content: right;" */