* {
    box-sizing: border-box;
}

body {
    width: 100%;
    background-color: rgb(247, 246, 243);
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    position: relative;
}

.page-cont {
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 100vh;
}

#header {
    position: fixed;
    text-align: center;
    background-color: rgb(28, 28, 28);
    width:100vw;
    z-index: 100;
}

 .navigation {
    display: flex;
    background-color: rgb(28,28,28);
    padding: 5px;
    margin-top: 0;
    z-index: 99;
    top: 0;
    left: 0;
} 


#nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.left_header {
    display: flex;
    padding-left: 30px;
    align-items: center;
    gap: 20px;
    float: left;
}

 .right_header {
    display: flex;
    padding-right: 50px;
    align-items: center;
    gap: 20px;
    float: right;
} 


.search-bar {
    padding: 5px;
    border-radius: 5px;
    border: none;
}

.search_input:focus {
    outline: none;
    border-radius: 15px;
}


/*[body content styles]---------------------------------------------------------------------------------------*/
.body_content{
    position: flex;
    height:100vh;
    justify-content: center;
    align-items: center;
    z-index: 0;
}

.background-design {
    position: absolute;
    z-index:-1;
}


/* empty cart / no results after searching */
.empty-note, 
.no-results {
    text-align: center;
    padding: 40px 12px;
    color: rgb(120, 120, 120);
    font-size: 1.1rem;
    font-weight: 600;
    font-style: italic;
    border-radius: 12px;
    background-color: rgba(255, 249, 227, 0.1);
    margin: 12px;
}


.main_content2 {
    display: flex;
    position: fixed;
    bottom: 5%;
    left: 0;
    height: 85%;
    width: 100%;
    /* background-color: rgb(185, 148, 3); */
    padding: 1%;
    justify-content: center;
    gap: 10%;
}

.left_content {
    /* background-color: rgb(233, 82, 22); */
    width: 40%;
    display: flex;
}

.right_content {
    /* background-color: rgb(19, 124, 82); */
    width: 40%;
}

.deal_box {
    /* background-color: rgb(25, 75, 133); */
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 2%;
}

.deal_title {
    /* background-color: rgb(229, 146, 38); */
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 140%;
}

.deal_timer {
    /* background-color: brown; */
    height: 5%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 1%;
    font-size: 80%;
}

.deal_images {
    /* background-color: rgb(255, 255, 255); */
    width: 100%;
    height: 85%;
    display: flex;
    flex-wrap: wrap;
    gap: 10%;
    padding: 2%;
    border-radius: 15px;
}

.deal_images img {
    width: 45%;
    height: auto;
}
