body {
    background-color: rgb(255, 249, 227);
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.page-cont {
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 100vh;
}


/*[header content styles]---------------------------------------------------------------------------------------*/
header {
    position: fixed;
    text-align: center;
    /*background-color: rgba(122, 110, 110, 0.5);*/
    width:100vw;
    z-index: 10;

}

.navigation {
    display: flex;
    background-color: rgb(28,28,28);
    padding: 5px;
    height: 5vh;
    margin-top: 0;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
}

.left_header {
    display: flex;
    padding-left: 30px;
    align-items: center;
    gap: 20px;
    float: left;
}

.right_header {
    display: flex;;
    padding-right: 30px;
    align-items: center;
    gap: 20px;
    float: right;
}


.search-bar {
    padding: 5px;
    border-radius: 5px;
    border: none;
}

.search_input:focus {
    outline: none;
    border-radius: 15px;
}


/*[body content styles]---------------------------------------------------------------------------------------*/
.body_content{
    position: flex;
    height:100vh;
    justify-content: center;
    align-items: center;
    z-index: 0;

}
