body {
    background-color: rgb(255, 249, 227);
    font-family: sans-serif; /* body font */
    margin: 0;
    padding: 0;
}

.page-cont {
    /*background-color: rgb(54, 51, 37); remove later*/
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    min-height: 100vh;
}

header {
    position: fixed;
    text-align: center;
    background-color: rgba(28, 28, 28, 1);
    width:100vw;
    z-index: 1;

}

 .navigation {
    display: flex;
    background-color: rgb(28,28,28);
    padding: 5px;
    margin-top: 0;
    padding: 5px;
    z-index: 1;
    top: 0;
    left: 0;
} 


.left_header {
    display: flex;
    padding-left: 30px;
    align-items: center;
    gap: 20px;
    float: left;
}

 .right_header {
    display: flex;
    padding-top: 20px;
    padding-right: 50px;
    align-items: center;
    gap: 20px;
    float: right;
} 


.search-bar {
    padding: 5px;
    border-radius: 5px;
    border: none;
}

.search_input:focus {
    outline: none;
    border-radius: 15px;
}



/*[main content styles]---------------------------------------------------------------------------------------*/
.body_content{
    /*height:100vh;
    margin-top: 10vh;*/
/* >>>>>>> main */
    justify-content: center;
    align-items: center;
    z-index: 0;
}

.background-design {
    position: absolute;
    z-index:-1;
}

/*[clothing pieces displays]---------------------------------------------------------------------------------------*/

.section-title {
    font-family: "Poppins", sans-serif;
    font-size: 2.2rem;
    margin-top: 120px;  /*responsible for pushing the title*/
    margin-bottom: 40px;
    color: rgb(28,28,28);
    text-align: center;
}


/*dispalys 4 items per row */
.clothing-grid {
    width: 90%;
    margin: 40px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* can be changed to more or less later*/
    gap: 30px;
}

.item-card {
    text-align: center;
    background-color: rgb(255, 249, 227);
    padding: 15px;
    border-radius: 12px;
    transition: transform 0.25s ease;
}

.item-card:hover {
    transform: scale(1.05);
}

/* image container */
.item-img {
    width: 100%;
    height: 300px;
    overflow: hidden;
    border-radius: 12px;
}

.item-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.25s ease-in-out;
}

.item-img:hover img {
    transform: scale(1.12);
}

/* Item Text */
.item-name {
    font-size: 1.2rem;
    margin-top: 12px;
    font-weight: bold;
    font-family: "Montserrat", sans-serif; /* can be changed to a diff font*/
}

.item-price {
    font-size: 1rem;
    color: rgb(50, 50, 50);
}

