<!DOCTYPE html>
<html lang = "en-US">
    <head>
        <meta charset="UTF-8" />
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>[GIODRIPPS]:  MEN'S COLLECTION</title>

        
        <link rel="stylesheet" href="../styles/styles.css">
        <link rel = "stylesheet" href="../styles/bigmans.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">

    </head>
        
    <body>
        <div class = page-cont>
               <header id = "header">
                <div id = "nav">
                    <div class = "left_header">
                        <div class = "menu">
                            <i class="fa-solid fa-bars" id = "menu_bar" style = "color: rgb(255, 249, 227); font-size:xx-large;"></i>
                        </div>   
                        <h1 style = "color: rgb(255, 249, 227); position: flex;">GIODRIPPS</h1>
                    </div>

                    <div class = "right_header">
                        <div class = search_bar style = "background-color: rgb(255, 249, 227); border-radius: 15px; padding: 5px;">
                            <i class="fa-solid fa-magnifying-glass" style = "color: rgb(28,28,28); font-size:medium;"></i>
                            <input type = text placeholder = "Search..." class = "search_input" style = "border: none; background-color: transparent; font-size:large;">
                        </div>
                        <i class="fa-regular fa-circle-question" id = "help_button" style = "color: rgb(255, 249, 227); font-size:xx-large;"></i>
                        <i class="fa-solid fa-cart-shopping" id = "shop_cart" style = "color: rgb(255, 249, 227); font-size:xx-large;"></i>
                    </div>
                </div>

            </header>
            
            <div class = "body_content" id = "body_content">
                <h2 class="section-title">Men's Collection</h2>

                <div class="clothing-grid">
                    {# If no products we can show a placeholder card#}
                    {% if products %}
                        {% for p in products %}
                            <div class="item-card">
                                <div class="item-img">
                                    
                                    <img src="{{ p.img_url }}" alt="{{ p.name }}">
                                </div>
                                <p class="item-name">{{ p.name }}</p>
                                <p class="item-price">${{ '%.2f'|format(p.price) }}</p>
                            </div>
                        {% endfor %}
                    {% else %}
                        <div class="item-card">
                            <div class="item-img">
                                <img src="../../assets/extras/yessir.png" alt="Placeholder">
                            </div>
                            <p class="item-name">No items! stock is cooked!!!!!!</p>
                            <p class="item-price">$0.00</p>
                        </div>
                    {% endif %}
                </div>
                    

            </div>


                <div class = "background_design">
                
                </div>
        </div>
    </body>    
  
    <script src = "../scripts/header.js"></script>

</html>